<?xml version="1.0"?>
<model>
  <name>Warehouse Ground Plane (PBR)</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your@email.com</email>
  </author>
  <description>A large ground plane with PBR concrete textures.</description>
</model>